@model Address
@{
    List<Address> addreses = ViewBag.Addresses;
}


<div class="container mt-5">
    <div class="row">
        @foreach (var Address in addreses)
        {
            <div class="col-md-4 mb-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@Address.User.UserName</h5>
                        <p class="card-text">@Address.AddressLine ,@Address.City , @Address.state , @Address.PinCode</p>
                        <a asp-controller="CheckOut" asp-action="Confirm" asp-route-addressId="@Address.Id" class="btn btn-primary">Deliver here</a>
                    </div>
                </div>
            </div>

        }
    </div>

 </div>



    <form class="mt-4" asp-action="Index">
        <div asp-validation-summary="ModelOnly" data-mdb-input-init class="text-danger">
        </div>

        <div data-mdb-input-init class="form-outline form-white mb-4">
            <input asp-for="AddressLine" type="text" id="typeName" class="form-control form-control-lg" siez="17"
                   placeholder="Address" />
            <label asp-for="AddressLine" class="form-label">Address</label>
            <span asp-validation-for="AddressLine" class="text-danger"></span>
        </div>

        <div data-mdb-input-init class="form-outline form-white mb-4">



            <div data-mdb-input-init class="form-outline form-white mb-4">
                <input asp-for="City" type="text" id="typeName" class="form-control form-control-lg" siez="17"
                       placeholder="City" />
                <label asp-for="City" class="form-label">City</label>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div data-mdb-input-init class="form-outline form-white mb-4">
                <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input asp-for="state" type="text" id="typeName" class="form-control form-control-lg" siez="17"
                           placeholder="state" />
                    <label asp-for="state" class="form-label">state</label>
                    <span asp-validation-for="state" class="text-danger"></span>
                </div>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input asp-for="PinCode" type="text" id="typeName" class="form-control form-control-lg" siez="17"
                               placeholder="PinCode" />
                        <label asp-for="PinCode" class="form-label">PinCode</label>
                        <span asp-validation-for="PinCode" class="text-danger"></span>
                    </div>

                    <div data-mdb-input-init class="form-outline form-white mb-4">
                    </div>
                    <span><button class="btn btn-dark" value="Create"> Create</button> <i class="fas fa-long-arrow-alt-right ms-2"></i></span>


    </form>







